@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.homepage{
    background:#ffffff;
    width:100vw;
    min-height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
}


.herocontent{
    
    padding:10px;

}